XTerm.vt100.reverseVideo: true

XTerm.termName: xterm-256color

XTerm*faceName: Monospace Regular
XTerm*faceSize: 11

XTerm*geometry: 150x50

XTerm*vt100.scrollBar: false

XTerm*scrollTtyOutput: false

xterm*allowTitleOps: false
xterm*Title: XTerm
