XTerm.vt100.reverseVideo: true

XTerm.termName: xterm-256color

XTerm*faceName: Monaco
XTerm*faceSize: 13

XTerm*geometry: 155x55

XTerm*vt100.scrollBar: false

XTerm*scrollTtyOutput: false

xterm*allowTitleOps: false
xterm*Title: XTerm

XTerm.vt100.cursorColor: #00FF41
